<div class="container body-content span=8 offset=2">
    <div class="well col-md-8 col-md-offset-2">
        <div class="row">
            <center><legend>За повече контакти</legend>
            <p>GSM: 0884521633<br>Email: kriskoyyy@abv.bg<br>Adress: гр.Дупница ул"Юри Гагарин" №11</p>
            </center>

        </div>
    </div>
</div>