
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    border-color: #ecf0f1;
}
a.list-group-item-success.active {
    background-color: #18bc9c;
}
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
    background-color: #15a589;
}
a.list-group-item-warning.active {
    background-color: #f39c12;
}
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
    background-color: #e08e0b;
}
a.list-group-item-danger.active {
    background-color: #e74c3c;
}
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
    background-color: #e43725;
}
.panel-default .close {
    color: #2c3e50;
}
.modal .close {
    color: #2c3e50;
}
.popover {
    color: #2c3e50;
}
article .author {
    margin-bottom: 0;
}
article .author  {
    display: block;
    font-size: 100%;
    line-height: 1.42857143;
    color: #b4bcc2;
}
article .author  {
    content: '\2014 \00A0';
}

.navbar-brand {
    transition: 0.1s ease;
}

.navbar-brand:hover {
    background: rgba(212, 0, 0, 0.71) !important;
}

.navbar-inverse .navbar-nav>li>a {
      color: white;
  }

.navbar-inverse .navbar-nav>li :hover {
    background: rgba(212, 0, 0, 0.71) !important;
}
.navbar-inverse .navbar-brand{
    color: #ffffff !important;
}